<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录</title>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/other/register.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<style>
    #info {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
</style>
<body style="background-image: url('image/main_bk.jpg');background-size: 100%;">
<div class="container-fluid">
    <!-- 顶部 -->
    <div class="row" style="background-color: rgba(255,255,255,0.6);;height: 80px;box-shadow: 2px 2px 10px #e2e2e2;">
        <div class="col-md-3">
            <div style="" class="text-right"><img src="image/title.png" class="pt-1"
                                                  style="height: 60px;margin-top: 10px;margin-bottom: 10px"></div>
        </div>
        <div class="col-md-3 text-left ">
            <div style="position: absolute;top: 50%;left: 5%;transform: translateX(-50%) translateY(-50%)">
                <!--                <span>登录</span>-->
            </div>
        </div>
        <div class="col-md-3 text-center">
        </div>
    </div>
    <div class="row pt-4" id="info">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8"
                     style="width: 100%;background: rgba(255,255,255,0.7);box-shadow: 0px 1px 10px #c2c2c2;padding-left: 10%;padding-right: 10%;padding-top: 2%;padding-bottom: 2%">
                    <from method="POST" enctype="multipart/form-data">
                        <div class="from-group">
                            <label for="username">用户名:</label>
                            <input type="email" class="form-control rounded-0" id="username"
                                   placeholder="Enter username">
                        </div>
                        <div class="from-group">
                            <label for="password">密码:</label>
                            <div class="input-group" id="password">
                                <input id="state" type="password" class="form-control rounded-0"
                                       placeholder="Enter password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" onclick="changeState()">
                                        <span class="button" id="visibleButton">
                                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="from-group">
                            <label for="userTel">电话:</label>
                            <input type="text" class="form-control rounded-0" id="userTel" placeholder="Enter tel">
                        </div>
                        <div class="from-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control rounded-0" id="email" placeholder="Enter email">
                        </div>

                        <!--                        单个文件上传-->
                        <!--                        <div class="from-group">-->
                        <!--                            <label for="profileImg">头像:</label>-->
                        <!--                            <div class="input-group" id="profileImg">-->
                        <!--                                <input id="imgButton" class="form-control rounded-0" placeholder="Choose File" onclick="$('#img').click()">-->
                        <!--                                <div class="input-group-prepend">-->
                        <!--                                    <span class="input-group-text">-->
                        <!--                                        <span class="button" onclick="$('#img').click()">-->
                        <!--                                            <i class="fa fa-file" aria-hidden="true"></i>-->
                        <!--                                        </span>-->
                        <!--                                    </span>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <input class="input-group-prepend" type="file" name="file" id='img'  accept=".png,.jpg" onchange="$('#imgButton').val($('#img').val());" style="display: none">-->
                        <!--                        </div>-->
                        <div class="from-group">
                            <div id="loginButton" class="form-group" style="margin-top: 8%">
                                <button type="button" class="btn btn-primary btn-block" onclick="register()">注册</button>
                            </div>
                        </div>
                    </from>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>
