<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/other/login.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>


<div class="form-group" style="margin-top: 2%">
    <button type="button" class="btn btn-primary btn-block" onclick="loginUseEmail()">登录</button>
</div>
</body>
</html>