<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/other/fileUpLoad.js"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>

<!--单个文件上传&ndash;&gt;-->
<from method="POST" enctype="multipart/form-data">
    <div class="from-group">
        <label for="profileImg">头像:</label>
        <div class="input-group" id="profileImg">
            <input id="imgButton" class="form-control rounded-0" placeholder="Choose File" onclick="$('#img').click()">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="button" onclick="$('#img').click()">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </span>
                </span>
            </div>
        </div>
        <input class="input-group-prepend" type="file" name="file" id='img' accept=".png,.jpg"
               onchange="$('#imgButton').val($('#img').val());" style="display: none">
    </div>
</from>
<div class="form-group" style="margin-top: 2%">
    <button  id="upLoadFile" type="button" class="btn btn-primary btn-block" onclick="upload()">登录</button>
</div>
</body>
</html>